.rocket {
  display: flex;
  gap: 40px;
  margin: 40px;
}

.rocket-img img {
  width: 340px;
  height: 300px;
}

.rocket_name {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
}

.rocket_desc {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
}

.reserved {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  color: #fff;
  background-color: #18a2b8;
  padding: 2px 5px;
  border-radius: 5px;
}

.reserve {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  color: #fff;
  background-color: #007bff;
  padding: 8px 10px;
  border-radius: 5px;
}

.cancel {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  color: #5d5b5b;
  background-color: #fefefe;
  padding: 8px 10px;
  border-radius: 5px;
}
