@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #3995ff;
  line-height: 48px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #928e8eee;
  line-height: 48px;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 48px;
}

.navLogoImg {
  width: 80px;
  height: 80px;
}

.navLinksList {
  flex-direction: row;
  display: flex;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  color: #3995ff;
  line-height: 48px;
}

.navLinksListItem {
  text-decoration: none;
  line-height: 48px;
}

.navVr {
  border-left: 2px solid #000;
  height: 18px;
  margin: 1rem 1rem;
}

.active {
  border-bottom: 1px solid #000;
  color: #147ff9;
  line-height: 48px;
}
